h1{color: blue;
text-transform: uppercase;
background-color: yellow;
text-align: center;}

h2{color: green;
font-style: italic;}

p{font-family: 'Courier New', Courier, monospace;
font-size: 16pxs;}
.destacados{color: red;}
h
