.contenedor{
    background-color: rgb(154, 203, 247);
    border: 1px;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.caja1{
    display: flex;
    background-color: green;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
.caja2{
    display: flex;
    background-color: blue;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
.caja3{ 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 100px;
    width: 100px 
}